<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>口袋搜 · PokeSo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="">

  <link rel="icon" href="favicon.ico"/>
  <link rel="apple-touch-icon" sizes="120x120" href="touch-icon-iphone-retina.png"/>
  <link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad-retina.png"/>

  <link rel="stylesheet" href="deps/angular-material.min.css"/>
  <link rel="stylesheet" href="deps/material.min.css"/>
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/pm-icons.css">
  <link rel="stylesheet" href="styles/pokeball.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">

</head>
<body ng-app="pokesoApp" ng-controller='MainController' ng-cloak layout="row">
<div ng-if="loading" class="vertical-align-container-out cover-all">
  <div class="vertical-align-container-in-middle centered">
    <div style="display: inline-block">
      <md-progress-circular md-mode='indeterminate'></md-progress-circular>
      {{loadingText}}
      <!--[if lte IE 8]>
      <div class="browsehappy">请使用非IE类浏览器!</div><![endif]-->
    </div>
  </div>
</div>
<md-sidenav class="md-sidenav-left md-whiteframe-z2"
            md-component-id="leftSideNav" md-is-locked-open="$mdMedia('gt-md')">
  <div class="md-toolbar-tools" layout>
    <a href="#/">
      <h1 class="md-toolbar-tools">POKESO·口袋搜</h1>
    </a>
  </div>
  <md-content layout-padding layout="column" layout-align="start stretch">
    <md-button ng-repeat="function in MainFunctions track by $index"
               ng-if="$index!=MainFunctions.length-1 && function.enterable" layout-align="start start"
               ng-click="$mdMedia('gt-md')?undefined:toggleSideNav()">
      <a class="font-family" href="{{function.link}}">
        <div layout="row" layout-align="start center">
          <span class="pokeball pokeball-{{function.ball}}"></span>
          {{function.name}}
        </div>
      </a>
    </md-button>
    <md-switch ng-model='apng.load' aria-label='load_apng' ng-change='toggle_animation()'>
      动态图片
    </md-switch>
  </md-content>
</md-sidenav>
<div hide-gt-md class="md-whiteframe-2dp fixedMenuIcon" ng-click="toggleSideNav()">
  <md-icon md-svg-src="md-menu" aria-label="menu"></md-icon>
</div>
<md-content flex ng-view ng-cloak>
</md-content>

<script src="deps/jquery.min.js"></script>
<script src="deps/angular.min.js"></script>
<script src="deps/angular-animate.min.js"></script>
<script src="deps/angular-aria.min.js"></script>
<script src="deps/angular-material.min.js"></script>
<script src="deps/angular-route.min.js"></script>
<script src="deps/angular-local-storage.min.js"></script>
<script src="deps/sortable.min.js"></script>
<script src="deps/material.min.js"></script>
<script src="deps/apng-canvas.min.js"></script>
<script src="deps/hashdown.min.js"></script>

<script src="scripts/app.js"></script>
<script src="scripts/directives.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/home.js"></script>
<script src="scripts/controllers/skim.js"></script>
<script src="scripts/controllers/moves.js"></script>
<script src="scripts/controllers/baseStats.js"></script>
<script src="scripts/controllers/suggestion.js"></script>
<script src="scripts/controllers/teamBuilder.js"></script>
<script src="scripts/controllers/about.js"></script>

<script src="scripts/script.js"></script>
</body>
</html>
