<md-content class="about_content" layout-padding>
  <md-card class="space-bottom md-whiteframe-z2">
    <md-card-content>
      <h1 class="md-title">公告</h1>
      <p>
        个体值计算页面的画风和其他页面不一样是因为站长偷懒直接搬了52poke汉化版的计算器，计算器工作量太大，有空了再自制。<br>
      </p>
      <md-divider></md-divider>
      <p>
        主要数据以及个体值计算器来自<a href="https://wiki.52poke.com"><u>神奇宝贝百科</u></a><br>
        伤害计算器来自<a href="https://pokemonshowdown.com/damagecalc/"><u>Pokemon Showdown</u></a><br>
        蝌蚪码功能来自<a href="https://github.com/rinick/hashdown"><u>Hashdown by rinick</u></a><br>
        在此致谢!
      </p>
    </md-card-content>
  </md-card>
  <md-card class="space-bottom md-whiteframe-z2" layout-padding>
    <md-card-content>
      <h4>目前已确认的BUG：</h4>
      <div ng-repeat="bug in bugs"><p>{{$index+1}}.{{bug}}</p></div>
    </md-card-content>
  </md-card>
  <md-card class="md-whiteframe-z2" layout-padding>
    <md-card-content>
      <div ng-repeat="log in logs">
        <h4>{{log.date}}<p>{{log.description}}</p></h4>
        <md-divider ng-if="!$last"></md-divider>
      </div>
    </md-card-content>
  </md-card>
</md-content>