<md-dialog class="showpoke_dialog" layout-padding layout-wrap aria-label="show pokemon">
  <div layout="column" layout-padding>
    <div class="vertical-align-container-out border-bottom space-bottom" ng-if="load_apng" >
      <div class="vertical-align-container-in-bottom">
        <img class="apng-image" ng-src='{{pokemon.apng}}'>
      </div>
    </div>
    <div class="centered" layout='row'>
      <div flex>
        <p>{{pokemon.ID}}</p>
      </div>
      <div flex>
        <p>{{pokemon.name}}</p>
      </div>
      <div flex>
        <p class="type_wrapper" ng-style="typeColors[pokemon.type1.ID]">
          {{pokemon.type1.name}}
        </p>
      </div>
      <div flex>
        <p ng-if="pokemon.type2.ID>0" class="type_wrapper" ng-style="typeColors[pokemon.type2.ID]">
          {{pokemon.type2.name}}
        </p>
      </div>
    </div>
    <div ng-if="pokemon.ability1" layout='row'>
      <div flex='30' class="centered">
        <p class="md-body-1">{{pokemon.ability1.name}}</p>
      </div>
      <md-divider layout-margin></md-divider>
      <div flex>
        <p class="md-body-1">{{pokemon.ability1.description}}</p>
      </div>
    </div>
    <div ng-if="pokemon.ability2" layout='row'>
      <div flex='30' class="centered">
        <p class="md-body-1">{{pokemon.ability2.name}}</p>
      </div>
      <md-divider layout-margin></md-divider>
      <div flex>
        <p class="md-body-1">{{pokemon.ability2.description}}</p>
      </div>
    </div>
    <div ng-if="pokemon.abilityd" layout='row'>
      <div flex='30' class="centered">
        <p class="md-body-1">{{pokemon.abilityd.name}}</p>
      </div>
      <md-divider layout-margin></md-divider>
      <div flex>
        <p class="md-body-1">{{pokemon.abilityd.description}}</p>
      </div>
    </div>
    <div class="border-bottom space-bottom">
    </div>
    <div layout="column"  class="border-bottom space-bottom">
      <div class="centered" layout="row">
        <div flex ng-repeat="name in stat_names">
          {{name}}
        </div>
      </div>
      <div class="centered" layout="row">
        <div flex ng-repeat="value in pokemon.base_stats track by $index">
          {{value}}
        </div>
      </div>
    </div>
    <div layout='row' layout-align='space-around center'>
      <!--TODO: Evolve Chain-->
    </div>
    <div class="border-bottom"></div>
    <div class="border-bottom" ng-if='show_move_menu' layout='row' layout-align='space-around center'>
      <md-button class="md-raised">
        自主习得
      </md-button>
      <md-button class="md-raised">
        技能机器
      </md-button>
    </div>
    <div class="border-bottom" ng-if='show_move_menu' layout='row' layout-align='space-around center'>
      <md-button class="md-raised">
        遗传技能
      </md-button>
      <md-button class="md-raised">
        教学技能
      </md-button>
    </div>
    <div class="border-bottom"></div>
    <md-button ng-click="hide()" class="md-raised">
      关闭
    </md-button>
  </div>
</md-dialog>