<md-dialog class="showpoke_dialog" layout-padding layout-wrap aria-label="show pokemon">
  <div layout layout-align='center center'>
    <md-progress-circular ng-show='loading_showpoke' md-mode='indeterminate'>
    </md-progress-circular>
  </div>
  <div ng-hide='loading_showpoke' layout="column" layout-padding>
    <div class="vertical-align-container-out border-bottom space-bottom" ng-if="apng.load" >
      <div class="vertical-align-container-in-bottom">
        <div ng-show='loading_showpoke_apng' layout layout-align='center center'>
          <md-progress-circular md-mode='indeterminate'>
          </md-progress-circular>
        </div>
        <img ng-show='!loading_showpoke_apng' class="apng-image" ng-src='{{pokemon.apng}}'>
      </div>
    </div>
    <div class="centered" layout='row'>
      <div flex>
        <p>{{pokemon.id}}</p>
      </div>
      <div flex>
        <p>{{pokemon.name}}</p>
      </div>
      <div flex>
        <p>{{types[pokemon.type1].name}}</p>
      </div>
      <div flex>
        <p ng-if="pokemon.type2>0">{{types[pokemon.type2].name}}</p>
      </div>
    </div>
    <div ng-repeat="ability in pokemon.abilities" ng-if="ability!=''" layout='row'>
      <div flex='30' class="centered border-right space-right">
        <p class="md-body-1">{{ability.name}}</p>
      </div>
      <div flex>
        <p class="md-body-1">{{ability.description}}</p>
      </div>
    </div>
    <div class="border-bottom space-bottom">
    </div>
    <div layout="column"  class="border-bottom space-bottom">
      <div class="centered" layout="row">
        <div flex ng-repeat="name in stats_names">
          {{name}}
        </div>
      </div>
      <div class="centered" layout="row">
        <div flex ng-repeat="value in pokemon.base_stats track by $index">
          {{value}}
        </div>
      </div>
    </div>
    <div layout='row' layout-align='space-around center'>
      <md-button class='md-raised' disabled onclick="toggle_show_evolve()">
        进化链
      </md-button>
      <md-button class='md-raised' disabled onclick="toggle_show_move_menu()">
        技能
      </md-button>
    </div>
    <div class="border-bottom"></div>
    <div class="border-bottom" ng-if='show_move_menu' layout='row' layout-align='space-around center'>
      <md-button class="md-raised">
        自主习得
      </md-button>
      <md-button class="md-raised">
        技能机器
      </md-button>
    </div>
    <div class="border-bottom" ng-if='show_move_menu' layout='row' layout-align='space-around center'>
      <md-button class="md-raised">
        遗传技能
      </md-button>
      <md-button class="md-raised">
        教学技能
      </md-button>
    </div>
    <div class="border-bottom"></div>
    <md-button ng-click="hide()" class="md-raised">
      关闭
    </md-button>
  </div>
</md-dialog>