<div layout="row" layout-xs="column">
  <div flex flex-sm="40" flex-gt-sm="nogrow">
    <md-card>
      <md-card-content layout='column'>
        <pm-selector></pm-selector>
        <div layout='column'>
          <md-virtual-repeat-container>
            <div md-virtual-repeat="pokemon in searched_pokemons" ng-show="pokemon!=0">
              <pm-in-list ng-click="checkPM(pokemon.ID)"></pm-in-list>
            </div>
          </md-virtual-repeat-container>
          *不显示PM时请拖动滚动条
          <md-button class="md-raised md-primary" ng-click="randomPM()">
            随机PM
          </md-button>
        </div>
      </md-card-content>
    </md-card>
  </div>
  <div flex flex-gt-md="nogrow">
    <md-card ng-show="pokemon">
      <md-card-content>
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="基本信息">
            <div class="space-bottom"></div>
            <div class="text-centered" flex layout='column'>
              <div class="space-bottom" layout='row'>
                <div flex>{{pokemon.ID}}</div>
                <div flex><b>{{pokemon.name}}</b></div>
                <div flex>
                  <type-wrapper type="pokemon.type1" colors="typeColors"></type-wrapper>
                </div>
                <div flex>
                  <type-wrapper type="pokemon.type2" colors="typeColors"></type-wrapper>
                </div>
              </div>
              <div ng-repeat="pokemon in [pokemon]">
                <img class="apng-image" ng-src="{{pokemon.apng}}">
              </div>
              <md-divider layout-margin></md-divider>
              <div layout='column'>
                <div ng-if="pokemon.ability1" layout='row' layout-padding>
                  <div flex='30' class="text-centered">
                    <p class="md-body-1">{{pokemon.ability1.name}}</p>
                  </div>
                  <md-divider></md-divider>
                  <div flex>
                    <p class="md-body-1">{{pokemon.ability1.description}}</p>
                  </div>
                </div>
                <div ng-if="pokemon.ability2" layout='row' layout-padding>
                  <div flex='30' class="text-centered">
                    <p class="md-body-1">{{pokemon.ability2.name}}</p>
                  </div>
                  <md-divider></md-divider>
                  <div flex>
                    <p class="md-body-1">{{pokemon.ability2.description}}</p>
                  </div>
                </div>
                <div ng-if="pokemon.abilityd" layout='row' layout-padding>
                  <div flex='30' class="text-centered">
                    <p class="md-body-1">{{pokemon.abilityd.name}}</p>
                  </div>
                  <md-divider></md-divider>
                  <div flex>
                    <p class="md-body-1">{{pokemon.abilityd.description}}</p>
                  </div>
                </div>
              </div>
              <md-divider layout-margin></md-divider>
              <div class="space-bottom" layout='row' layout-wrap>
                <div flex layout='column'>
                  <div>身高</div>
                  <div>{{pokemon.height}}m</div>
                </div>
                <div flex layout='column'>
                  <div>体重</div>
                  <div>{{pokemon.weight}}kg</div>
                </div>
                <div flex layout='column'>
                  <div>捕获率</div>
                  <div>{{pokemon.catch_rate}}%</div>
                </div>
                <div flex layout='column'>
                  <div>孵化步数</div>
                  <div>{{pokemon.birth_step}}</div>
                </div>
                <div flex layout='column'>
                  <div>♂:♀</div>
                  <div>{{pokemon.sex_rate.male}}:{{pokemon.sex_rate.female}}</div>
                </div>
              </div>
              <div>
                努力值
              </div>
              <div layout='row'>
                <div flex ng-repeat="stat_name in stat_names track by $index">
                  {{stat_name}}
                </div>
              </div>
              <div class="space-bottom" layout='row'>
                <div flex ng-repeat="value in pokemon.base_stat track by $index">
                  {{value}}
                </div>
              </div>
              <md-divider layout-margin></md-divider>
              <div>
                <canvas id="stats_displayer">
                </canvas>
              </div>
            </div>
          </md-tab>
          <md-tab label="技能学习">
            2
          </md-tab>
          <md-tab label="其他">
            3
          </md-tab>
        </md-tabs>
      </md-card-content>
    </md-card>
  </div>
</div>