<div layout="row" layout-xs="column">
  <div flex flex-sm="40" flex-md="40" flex-gt-md="25">
    <md-card class="md-raised md-whiteframe-z3">
      <md-card-content>
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="选择PM">
            <pm-selector></pm-selector>
            <div layout='column'>
              <md-virtual-repeat-container>
                <div md-virtual-repeat="pokemon in searchedPokemons">
                  <pm-in-list ng-click="editPokemon(pokemon.ID)"></pm-in-list>
                </div>
              </md-virtual-repeat-container>
              *不显示PM时请拖动滚动条
            </div>
          </md-tab>
          <md-tab label="选择技能">
            <div layout="column">
              <move-selector></move-selector>
              <md-button ng-disabled="!current" ng-click="searchMove()" class="md-raised md-primary">
                搜索技能
              </md-button>
              <div layout='row' layout-align='space-between center'>
                <div></div>
                <div>ID</div>
                <div>名称</div>
                <div>威力</div>
                <div>属性</div>
                <div>类型</div>
                <div>命中</div>
                <div>PP值</div>
                <div></div>
              </div>
              <md-virtual-repeat-container>
                <div md-virtual-repeat="move in searchResultMoves">
                  <move-in-list ng-click="addMove(move)"></move-in-list>
                </div>
                <md-button class="md-warn fill-width" ng-if="!current">
                  请先选择PM
                </md-button>
              </md-virtual-repeat-container>
            </div>
          </md-tab>
          <md-tab label="选择物品" ng-disabled="true">
            <item-selector></item-selector>
          </md-tab>
        </md-tabs>
      </md-card-content>
    </md-card>
  </div>
  <div layout="column" flex flex-gt-md="nogrow">
    <md-card class="md-raised md-whiteframe-z3">
      <md-card-content>
        <div layout layout-align='center center' layout-wrap>
          <div flex></div>
          <div layout="row" layout-wrap layout-align='start center'>
            <md-button class="md-primary thin-button-phone" ng-click="load()"
            ng-disabled='serial.text.length==0'>
              加载
            </md-button>
            <md-button class="md-primary thin-button-phone" ng-click="save()" ng-disabled="team.length==0">
              保存
            </md-button>
            <md-input-container>
              <label>奇怪的蝌蚪码</label>
              <input ng-model="serial.text">
              <md-icon ng-show="serial.text!=''" md-svg-src="md-close"
                       aria-label="clear serial text"
                       ng-click="serial.text=''"></md-icon>
              <div flex></div>
            </md-input-container>
          </div>
        </div>
        <div ng-model="team" ng-if="team.length>0">
          <div ng-repeat="pokemon in team track by $index">
            <pm-in-team ng-click="editPokemon(pokemon.ID)" layout></pm-in-team>
          </div>
        </div>
      </md-card-content>
    </md-card>
    <md-card ng-show="team.length>0" class="md-raised md-whiteframe-z3">
      <md-card-content layout='column'>
        <cur-editing ng-repeat="current in [current]"></cur-editing>
      </md-card-content>
    </md-card>
  </div>
</div>