<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>口袋搜 · PokeSo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="description" content="">
  <link rel="icon" href="favicon.ico"/>
  <link rel="apple-touch-icon" sizes="120x120" href="touch-icon-iphone-retina.png"/>
  <link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad-retina.png"/>
  <!-- bower:css -->
  <link rel="stylesheet" href="../bower_components/angular-material/angular-material.css" />
  <!-- endbower -->
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/pm-icons.css">
  <link rel="stylesheet" href="styles/pokeball.css">
</head>
<body ng-app="pokesoApp" ng-controller='MainController' ng-cloak layout="row">
<div ng-if="loading" class="vertical-align-container-out cover-all">
  <div class="vertical-align-container-in-middle text-centered">
    <div style="display: inline-block">
      <md-progress-circular md-mode='indeterminate'></md-progress-circular>
      {{loadingText}}
      <!--[if lte IE 8]>
      <div class="browsehappy">请使用非IE类浏览器!</div><![endif]-->
    </div>
  </div>
</div>
<md-sidenav class="md-sidenav-left md-whiteframe-z2"
            md-component-id="leftSideNav"
            md-is-open="sideNavIsOpen"
            md-is-locked-open="!userHideSideNav && ( $mdMedia('gt-md') || $mdMedia('md') )">
  <div class="md-toolbar-tools" layout>
    <a href="#/" ng-click="closeSideNav()">
      <h1 class="md-toolbar-tools">POKESO·口袋搜</h1>
    </a>
  </div>
  <md-content layout-padding layout="column" layout-align="start stretch">
    <md-button layout-align="start start"
               ng-repeat="function in MainFunctions track by $index"
               ng-if="!function.constructing"
               ng-click="closeSideNav()"
               href="{{function.link}}">
      <div layout="row" layout-align="start center">
        <span class="pokeball pokeball-{{function.ball}}"></span>
        {{function.name}}
      </div>
    </md-button>
    <div layout="row" layout-align="space-between center">
      <md-switch ng-model='apng.load' aria-label='loadAPNG' ng-change='toggleAnimation()'>
        动态图片
      </md-switch>
      <div ng-click="userHideSideNav=true; sideNavIsOpen=false">
        <md-icon class="gray-svg-icon" style="cursor: pointer"
                 md-svg-src="//poke.so/storage/icons/ic_keyboard_arrow_left_black_24px.svg"
                 aria-label="hide menu"></md-icon>
      </div>
    </div>
  </md-content>
</md-sidenav>
<div ng-show="!sideNavIsOpen" class="md-whiteframe-2dp fixedMenuIcon" ng-click="openSideNav()">
  <md-icon md-svg-src="md-menu" aria-label="menu"></md-icon>
</div>
<md-content flex ng-view ng-cloak>
</md-content>

<!-- bower:js -->
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-aria/angular-aria.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../bower_components/angular-material/angular-material.js"></script>
<!-- endbower -->
<script src="../other_dependencies/angular-local-storage.min.js"></script>
<script src="../other_dependencies/apng-canvas.min.js"></script>
<script src="../other_dependencies/hashdown.min.js"></script>

<script src="scripts/app.js"></script>
<script src="scripts/directives.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/home.js"></script>
<script src="scripts/controllers/skim.js"></script>
<script src="scripts/controllers/moves.js"></script>
<script src="scripts/controllers/baseStats.js"></script>
<script src="scripts/controllers/suggestion.js"></script>
<script src="scripts/controllers/teamBuilder.js"></script>
<script src="scripts/controllers/about.js"></script>

<script src="scripts/script.js"></script>
</body>
</html>
