<div layout-padding>
  <div class="vertical-align-container-out" ng-if='apng.load'>
    <div class="vertical-align-container-in-bottom">
      <img class="apng-image" ng-src='{{current.apng}}'>
    </div>
  </div>
  <md-divider></md-divider>
  <section class="text-centered" layout='row'>
    <div flex>
      <p>{{current.ID}}</p>
    </div>
    <div flex>
      <p>{{current.name}}</p>
    </div>
    <div flex>
      <type-wrapper type="current.type1" colors="typeColors"></type-wrapper>
    </div>
    <div flex>
      <type-wrapper type="current.type2" colors="typeColors"></type-wrapper>
    </div>
  </section>
  <section>
    <md-radio-group ng-model="current.selectedAbilityIndex" layout="row" layout-align="space-around">
      <md-radio-button ng-if="current.ability1" ng-value="current.ability1.ID">
        {{current.ability1.name}}
        <md-tooltip md-direction="bottom">
          {{current.ability1.description}}
        </md-tooltip>
      </md-radio-button>
      <md-radio-button ng-if="current.ability2" ng-value="current.ability2.ID">
        {{current.ability2.name}}
        <md-tooltip md-direction="bottom">
          {{current.ability2.description}}
        </md-tooltip>
      </md-radio-button>
      <md-radio-button ng-if="current.abilityd" ng-value="current.abilityd.ID">
        {{current.abilityd.name}}
        <md-tooltip md-direction="bottom">
          {{current.abilityd.description}}
        </md-tooltip>
      </md-radio-button>
    </md-radio-group>
    <div ng-if="current.selectedAbilityIndex" layout-padding>
      {{abilities[current.selectedAbilityIndex].description}}
    </div>
  </section>
  <md-divider></md-divider>
  <section style="text-align: right;" layout-padding>
    <div layout='row' layout-wrap>
      <md-input-container class="no-margin">
        <label>等级</label>
        <input ng-model="current.level" ng-change="levelChanged()" ng-pattern="/^([5-9]|[1-9]\d|100)$/"
               type="number" step="1" min="5" max="100">
      </md-input-container>
      <md-radio-group ng-model="current.level" ng-change="calculate(current)" layout="row">
        <md-radio-button ng-value="50" layout="column" layout-align="center center">
          Lv.50
        </md-radio-button>
        <md-radio-button ng-value="100" layout="column" layout-align="center center">
          Lv.100
        </md-radio-button>
      </md-radio-group>
      <div flex></div>
      <md-input-container class="no-margin">
        <label>性格</label>
        <md-select ng-model="current.natureID" aria-label="current nature" ng-change="calculate(current)">
          <md-option ng-repeat="nature in natures" ng-value="$index">{{nature.name}}</md-option>
        </md-select>
      </md-input-container>
    </div>
    <div layout='row'>
      <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
      <div flex layout layout-align="end center" ng-repeat="name in statNames track by $index">
        <div ng-show="natures[current.natureID].value[$index]==1">{{name}}</div>
        <div ng-show="natures[current.natureID].value[$index]>1">↑<b>{{name}}</b></div>
        <div ng-show="natures[current.natureID].value[$index]<1">↓<b>{{name}}</b></div>
      </div>
    </div>
    <div layout='row'>
      <div>种族值</div>
      <div flex ng-repeat="bs in current.baseStats track by $index">
        {{bs}}
      </div>
    </div>
    <div layout='row'>
      <div>努力值</div>
      <div flex ng-repeat="bss in current.baseStat track by $index">
        {{bss}}
      </div>
    </div>
    <div layout='row'>
      <div>个体值</div>
      <div flex ng-repeat="iv in current.IV track by $index">
        {{iv}}
      </div>
    </div>
    <div layout="row">
      <div>能力值</div>
      <div flex ng-repeat="stat in current.stats track by $index">
        {{stat}}
      </div>
    </div>
    <md-divider></md-divider>
  </section>
  <section ng-show="current.moves.length">
    <div layout='row' layout-wrap>
      <div flex="23" flex-xs="46" ng-repeat="move in current.moves" class="type-wrapper move_chip"
           style="background-color: {{typeColors[move.type.ID]}}">
        <div layout layout-align='space-between center'>
          <div flex></div>
          <div>{{move.name}}</div>
          <div flex></div>
          <md-icon class="clean-move-icon" ng-click="removeMove($index)" md-svg-src="md-close"
                   aria-label="remove move"></md-icon>
        </div>
      </div>
    </div>
    <md-divider></md-divider>
  </section>
  <section ng-show="current.item">
    <div layout="row">
      <div>
        {{current.item.name}}
      </div>
      <div>
        {{current.item.description}}
      </div>
    </div>
  </section>
  <div layout="row" layout-align="end center">
    <md-button class='md-raised md-warn' ng-click='removeCurrent()'>
      从队伍删除
    </md-button>
    <md-button class="md-raised md-primary" ng-click="openEditor($event)">
      编辑
    </md-button>
  </div>
</div>