<div class="vertical-align-container-out" ng-if='apng.load'>
  <div class="vertical-align-container-in-bottom">
    <img class="apng-image" ng-src='{{current.apng}}'>
  </div>
</div>
<md-divider layout-margin></md-divider>
<div class="text-centered" layout='row'>
  <div flex>
    <p>{{current.ID}}</p>
  </div>
  <div flex>
    <p>{{current.name}}</p>
  </div>
  <div flex>
    <p class="type_wrapper" ng-style="typeColors[current.type1.ID]">
      {{current.type1.name}}
    </p>
  </div>
  <div flex>
    <p ng-if="current.type2.ID" class="type_wrapper" ng-style="typeColors[current.type2.ID]">
      {{current.type2.name}}
    </p>
  </div>
</div>
<div>
  <md-radio-group ng-model="current.selected_ability_index" layout="row" layout-align="space-around">
    <md-radio-button ng-if="current.ability1" ng-value="current.ability1.ID">
      {{current.ability1.name}}
      <md-tooltip md-direction="bottom">
        {{current.ability1.description}}
      </md-tooltip>
    </md-radio-button>
    <md-radio-button ng-if="current.ability2" ng-value="current.ability2.ID">
      {{current.ability2.name}}
      <md-tooltip md-direction="bottom">
        {{current.ability2.description}}
      </md-tooltip>
    </md-radio-button>
    <md-radio-button ng-if="current.abilityd" ng-value="current.abilityd.ID">
      {{current.abilityd.name}}
      <md-tooltip md-direction="bottom">
        {{current.abilityd.description}}
      </md-tooltip>
    </md-radio-button>
  </md-radio-group>
  <div layout-padding>
    <div layout-padding>
    </div>
  </div>
</div>
<md-divider layout-margin></md-divider>
<div>
  <div layout='row'>
    <div>能力源</div>
    <div flex class="text-centered" ng-repeat="name in stat_names">
      {{name}}
    </div>
  </div>
  <div layout='row'>
    <div>种族值</div>
    <div flex class="text-centered" ng-repeat="bs in current.base_stats track by $index">
      {{bs}}
    </div>
  </div>
  <div layout='row'>
    <div>努力值</div>
    <div flex class="text-centered" ng-repeat="bss in current.base_stat track by $index">
      {{bss}}
    </div>
  </div>
  <div layout='row'>
    <div>个体值</div>
    <div flex class="text-centered" ng-repeat="iv in current.IV track by $index">
      {{iv}}
    </div>
  </div>
</div>
<md-divider layout-margin></md-divider>
<div layout="row">
  <div>能力值</div>
  <div flex class="text-centered" ng-repeat="stat in current.stats track by $index">
    {{stat}}
  </div>
</div>
<div>
  <div layout='row'>
    <div flex></div>
    <md-radio-group ng-model="current.level" ng-change="calculate(current)" layout="row">
      <md-radio-button ng-value="50" layout="column" layout-align="center center">
        Lv.50
      </md-radio-button>
      <md-radio-button ng-value="100" layout="column" layout-align="center center">
        Lv.100
      </md-radio-button>
    </md-radio-group>
    <md-button class="md-raised md-primary" ng-click="open_editor($event)">
      编辑
    </md-button>
  </div>
</div>
<md-divider layout-margin></md-divider>
<div layout='row' layout-wrap>
  <div ng-repeat="move in current.moves">
    <div class="md-button type_wrapper move_chip" ng-style="typeColors[move.type.ID]">
      <div layout layout-align='center center'>
        <div flex></div>
        <div>{{move.name}}</div>
        <div flex></div>
        <div>
          <label class="clean-move-icon" ng-click="remove_move($index)">
            <md-icon md-svg-src="md-close" aria-label="remove move"></md-icon>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<md-divider ng-if="current.moves.length" layout-margin></md-divider>
<div layout="row">
  <div layout-padding>
    {{current.item.name}}
  </div>
  <div layout-padding>
    {{current.item.description}}
  </div>
</div>
<div layout="row">
  <div>
    <md-input-container>
      <md-select ng-model="current.natureID" aria-label="current nature" ng-change="calculate(current)">
        <md-option ng-repeat="nature in natures" ng-value="$index">{{nature.name}}</md-option>
      </md-select>
    </md-input-container>
  </div>
  <div flex></div>
  <div>
    <md-button class='md-raised md-warn' ng-click='remove_cur()'>
      从队伍删除
    </md-button>
  </div>
</div>