<div layout="column">
  <div layout="row" layout-align="space-between center">
    <md-input-container flex>
      <label>属性</label>
      <md-select ng-model="moveFilter.selected_type_id">
        <md-option value="0">
          任意
        </md-option>
        <md-option ng-repeat="type in types" ng-if="type" value="{{type.ID}}">
          {{ type.name }}
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container flex>
      <label>类型</label>
      <md-select ng-model="moveFilter.selected_kind_id">
        <md-option value="0">
          任意
        </md-option>
        <md-option ng-repeat="kind in kinds" ng-if="kind" value="{{kind.ID}}">
          {{ kind.name }}
        </md-option>
      </md-select>
    </md-input-container>
  </div>
  <div layout="row" layout-align="space-between center">
    <label>威力</label>
    <md-checkbox ng-model="moveFilter.powerIndeterminable" ng-disabled='selected_kind_id==3'>
      必杀/威力变化
    </md-checkbox>
  </div>
  <div>
    <div layout>
      <div flex='20' layout layout-align='center center'><span>最小值</span></div>
      <md-slider flex min='0' max='250' step='5' aria-label='power_min'
                 ng-model="moveFilter.power_min"
                 ng-change='detect_overlap()'
                 ng-disabled='moveFilter.powerIndeterminable || selected_kind_id==3'></md-slider>
      <div flex='20' layout layout-align='center center'><span>{{moveFilter.power_min}}</span></div>
    </div>
    <div layout>
      <div flex='20' layout layout-align='center center'><span>最大值</span></div>
      <md-slider flex min='0' max='250' step='5' aria-label='power_max'
                 ng-model="moveFilter.power_max"
                 ng-change='detect_overlap()'
                 ng-disabled='moveFilter.powerIndeterminable || selected_kind_id==3'></md-slider>
      <div flex='20' layout layout-align='center center'><span>{{moveFilter.power_max}}</span></div>
    </div>
  </div>
  <div layout="row" layout-align="space-between center">
    <label>命中</label>
    <md-checkbox ng-model="moveFilter.accuracyIndeterminable">
      必中/命中变化
    </md-checkbox>
  </div>
  <div>
    <div layout>
      <div flex='20' layout layout-align='center center'><span>最小值</span></div>
      <md-slider flex min='0' max='100' step='5' aria-label='accuracy_min'
                 ng-model="moveFilter.accuracy_min"
                 ng-change='detect_overlap()' ng-disabled='moveFilter.accuracyIndeterminable'></md-slider>
      <div flex='20' layout layout-align='center center'><span>{{moveFilter.accuracy_min}}</span></div>
    </div>
    <div layout>
      <div flex='20' layout layout-align='center center'><span>最大值</span></div>
      <md-slider flex min='0' max='100' step='5' aria-label='accuracy_max'
                 ng-model="moveFilter.accuracy_max"
                 ng-change='detect_overlap()'
                 ng-disabled='moveFilter.accuracyIndeterminable'></md-slider>
      <div flex='20' layout layout-align='center center'><span>{{moveFilter.accuracy_max}}</span></div>
    </div>
  </div>
  <div layout="row" layout-align="space-between start">
    <label>PP值</label>
  </div>
  <div>
    <div layout>
      <div flex='20' layout layout-align='center center'><span>最小值</span></div>
      <md-slider flex min='0' max='50' step='5' aria-label='pp_min'
                 ng-model="moveFilter.pp_min"
                 ng-change='detect_overlap()'></md-slider>
      <div flex='20' layout layout-align='center center'><span>{{moveFilter.pp_min}}</span></div>
    </div>
    <div layout>
      <div flex='20' layout layout-align='center center'>
        <span>最大值</span>
      </div>
      <md-slider flex min='0' max='50' step='5' aria-label='pp_max'
                 ng-model="moveFilter.pp_max"
                 ng-change='detect_overlap()'></md-slider>
      <div flex='20' layout layout-align='center center'>
        <span>{{moveFilter.pp_max}}</span>
      </div>
    </div>
  </div>
</div>