<md-button class="no-margin fill-width">
  <div layout='row' layout-wrap>
    <div flex layout='column'>
      <div layout='row'>
        <span class='pm-icon pm-icon-{{pokemon.ID}}'></span>
        <div class="space-right-lite">
          {{pokemon.ID}}
        </div>
        <div>
          {{pokemon.name}}
          {{sexs[pokemon.sex]}}
        </div>
      </div>
      <div layout='row' layout-align='space-around center' layout-wrap>
        <div flex>
          Lv.{{pokemon.level}}
        </div>
        <div flex>
          {{abilities[pokemon.selected_ability_index].name}}
        </div>
        <div flex layout>
          <div class="icon-item icon-item-{{pokemon.item.ID}}"></div>
          <div>{{pokemon.item.name}}</div>
        </div>
      </div>
    </div>
    <div flex layout='row' layout-wrap>
      <div flex="45" ng-repeat="move in pokemon.moves"
           style="color: {{typeColors[move.type.ID]}}">
        {{move.name}}
      </div>
    </div>
  </div>
</md-button>