<div layout layout-xs="column" layout-padding>
  <section flex-xs flex-sm="50" flex-md="33" flex-lg="33">
    <move-selector></move-selector>
  </section>
  <div ng-if="$mdMedia('md') || $mdMedia('gt-md')" class="border-bottom"></div>
  <div ng-if="!($mdMedia('md') || $mdMedia('gt-md'))" class="border-right"></div>
  <div flex layout="row" layout-sm="column" layout-xs="column" layout-padding>
    <section flex layout="column">
      <md-button ng-click="searchMove()" class="md-raised md-primary">
        搜索技能
      </md-button>
      <div layout='row' layout-align='space-between center'>
        <div></div>
        <div>ID</div>
        <div>名称</div>
        <div>威力</div>
        <div>属性</div>
        <div>类型</div>
        <div>命中</div>
        <div>PP值</div>
        <div></div>
      </div>
      <md-virtual-repeat-container class="border-bottom space-bottom">
        <div md-virtual-repeat="move in searchResultMoves">
          <move-in-list ng-click="addMove(move)"></move-in-list>
        </div>
      </md-virtual-repeat-container>
      <label>已选技能列表</label>
      <div layout layout-wrap>
        <md-chips class="font-family fill-width" ng-model="selectedMoves" md-require-match="true">
          <md-autocomplete md-selected-item="selectedItem" md-search-text="searchMoveText"
                           md-items="move in querySearch(searchMoveText)" md-item-text="move.name"
                           placeholder="通过技能ID/名称搜索">
            <span md-highlight-text="searchMoveText">{{("000" + move.ID).substr(-3)}} :: {{move.name}}</span>
          </md-autocomplete>
          <md-chip-template>
            <span><strong>{{$chip.name}}</strong></span>
          </md-chip-template>
        </md-chips>
      </div>
    </section>
    <div ng-if="$mdMedia('md') || $mdMedia('gt-md')" class="border-bottom"></div>
    <div ng-if="!($mdMedia('md') || $mdMedia('gt-md'))" class="border-right"></div>
    <section flex>
      <div layout='column'>
        <div>
          <div layout='row' layout-align="space-between center">
            <div>
              <md-input-container layout='row' class="reduce-padding-bottom">
                <md-checkbox ng-model="moveFilter.definePokeType" ng-init="moveFilter.definePokeType = false">
                  指定PM属性
                </md-checkbox>
              </md-input-container>
            </div>
            <div ng-show="moveFilter.definePokeType" layout-align="space-between center">
              <md-input-container>
                <label>PM属性1</label>
                <md-select ng-model="moveFilter.selectedPokeType1.ID"
                           ng-init="moveFilter.selectedPokeType1 = {ID: 0}"
                           ng-disabled='!moveFilter.definePokeType'
                           ng-value="!moveFilter.definePokeType?undefined:1">
                  <md-option ng-repeat="type in types" value="{{type.ID}}" ng-if="$index>0">
                    {{type.name}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
            <div ng-show="moveFilter.definePokeType" layout-align="space-between center">
              <md-input-container>
                <label>PM属性2</label>
                <md-select ng-model="moveFilter.selectedPokeType2.ID"
                           ng-init="moveFilter.selectedPokeType2 = {ID: -1}"
                           ng-disabled="!moveFilter.definePokeType || !moveFilter.selectedPokeType1.ID">
                  <md-option value="-1">
                    无
                  </md-option>
                  <md-option value="0">
                    任意
                  </md-option>
                  <md-option ng-repeat="type in types" ng-if="type && type.ID != moveFilter.selectedPokeType1.ID"
                             value="{{type.ID}}">
                    {{type.name}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>
          <div layout layout-align="space-between center">
            <div>
              <md-input-container layout='row' class="reduce-padding-bottom">
                <md-checkbox ng-model="moveFilter.definePokeAbility" ng-disabled="true">
                  指定PM特性
                </md-checkbox>
              </md-input-container>
            </div>
            <div ng-show="moveFilter.definePokeAbility" layout-align="center center">
              <md-input-container>
                <label>PM特性</label>
                <md-select ng-model="moveFilter.selectedPokeAbility" ng-init="moveFilter.definePokeAbility = false"
                           ng-disabled="!moveFilter.definePokeAbility">
                  <md-option ng-repeat="ability in abilities" value="{{ability.ID}}">
                    {{ability.name}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>
        </div>
        <div>
          <md-button ng-click="searchPoke()" class="md-raised md-primary fill-width">
            搜索PM
          </md-button>
          <md-virtual-repeat-container>
            <div md-virtual-repeat="pokemon in pokemonsCanLearn" ng-init="pokemonsCanLearn = []">
              <poke-can-learn ng-click="showPoke($event, $index)"></poke-can-learn>
            </div>
          </md-virtual-repeat-container>
        </div>
      </div>
    </section>
  </div>
</div>