<md-dialog layout layout-padding layout-wrap aria-label="show pokemon">
  <div layout="column" layout-padding>
    <div class="vertical-align-container-out" ng-if="loadAPNG" >
      <div class="vertical-align-container-in-bottom">
        <img class="apng-image" ng-src="{{pokemon.apng}}">
      </div>
    </div>
    <md-divider></md-divider>
    <div class="text-centered" layout="row">
      <div flex>
        <p>{{pokemon.ID}}</p>
      </div>
      <div flex>
        <p>{{pokemon.name}}</p>
      </div>
      <div flex>
        <type-wrapper type="pokemon.type1" colors="typeColors"></type-wrapper>
      </div>
      <div flex>
        <type-wrapper type="pokemon.type2" colors="typeColors"></type-wrapper>
      </div>
    </div>
    <div ng-if="pokemon.ability1" layout="row" layout-padding>
      <div flex="30" class="text-centered">
        <p class="md-body-1">{{pokemon.ability1.name}}</p>
      </div>
      <md-divider></md-divider>
      <div flex>
        <p class="md-body-1">{{pokemon.ability1.description}}</p>
      </div>
    </div>
    <div ng-if="pokemon.ability2" layout="row" layout-padding>
      <div flex="30" class="text-centered">
        <p class="md-body-1">{{pokemon.ability2.name}}</p>
      </div>
      <md-divider></md-divider>
      <div flex>
        <p class="md-body-1">{{pokemon.ability2.description}}</p>
      </div>
    </div>
    <div ng-if="pokemon.abilityd" layout="row" layout-padding>
      <div flex="30" class="text-centered">
        <p class="md-body-1">{{pokemon.abilityd.name}}</p>
      </div>
      <md-divider></md-divider>
      <div flex>
        <p class="md-body-1">{{pokemon.abilityd.description}}</p>
      </div>
    </div>
    <md-divider></md-divider>
    <div layout="column">
      <div class="text-centered" layout="row">
        <div flex ng-repeat="name in statNames">
          {{name}}
        </div>
      </div>
      <div class="text-centered" layout="row">
        <div flex ng-repeat="value in pokemon.baseStats track by $index">
          {{value}}
        </div>
      </div>
    </div>
    <div layout="row" layout-align="space-around center">
      <!--TODO: Evolve Chain-->
    </div>
    <md-divider></md-divider>
    <md-button ng-click="hide()" class="md-raised">
      关闭
    </md-button>
  </div>
</md-dialog>