html, body, h5, h4, h3, h2, h1, textarea, input {
    font-family: 'Roboto', '黑体', 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

a {
    text-decoration: none;
    color: #757575;
}

.apng-image {
    width: auto;
}

md-sidenav {
    width: 240px;
}

md-icon, svg, div {
    outline: none;
    border: none;
    /*cursor: pointer;*/
}

.fixedMenuIcon {
    background-color: white;
    cursor: pointer;
    padding: 13px;
    border-radius: 55px;
    position: fixed;
    left: 10px;
    bottom: 10px;
    z-index: 10;
    outline: none;
    border: none;
}

.fixedMenuIcon:hover {
    cursor: hand;
    background-color: #eeeeee;
}

.reduce-padding-bottom {
    padding-bottom: 0;
}

.thin-button {
    min-width: 40px
}

.border-bottom {
    border-bottom: 1px solid #ddd;
}

.space-bottom {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.margin-bottom {
    margin-bottom: 10px
}

.border-right {
    border-right: 1px solid #ddd;
}

.space-right {
    padding-right: 10px;
    margin-right: 10px;
}

.space-right-lite {
    padding-right: 5px;
    margin-right: 5px;
}

.margin-right {
    margin-right: 10px;
}

.vertical-align-container-out {
    text-align: center;
    display: table;
    width: 100%
}

.vertical-align-container-in-bottom {
    display: table-cell;
    vertical-align: bottom;
}

.vertical-align-container-in-middle {
    display: table-cell;
    vertical-align: middle;
}

.text-centered {
    text-align: center
}

.cover-all {
    position: absolute;
    z-index: 9999;
    height: 100%;
    width: 100%;
    background-color: #fff;
}

#statsGraph {
    width: 75%;
    min-width: 240px;
    min-height: 240px;
    max-width: 768px;
    max-height: 768px;
    transition: width 0.7s;
    -moz-transition: width 0.7s; /* Firefox 4 */
    -webkit-transition: width 0.7s; /* Safari 和 Chrome */
    -o-transition: width 0.7s;
}

md-checkbox.md-checked.faint_checkbox .md-icon {
    background-color: rgba(0, 0, 0, 0);
}

.no-padding {
    padding: 0;
}

.no-padding-bottom {
    padding-bottom: 0;
}

.no-margin {
    margin: 0;
}

.fill-width {
    width: 100%;
}

.fill-height {
    height: 100%;
}

.clean-move-icon {
    background-color: #fff;
    border-radius: 100%;
    min-width: 28px;
    min-height: 28px;
    margin-right: -4px;
    -webkit-transition: background-color 0.3s;
}
.clean-move-icon:hover {
    background-color: transparent;
    cursor: pointer;
}
.clean-move-icon svg:hover {
    fill: white;
}

.card_chip_close_icon md-icon svg {
    color: white;
}

.card_chip_close_icon md-icon svg :hover {
    color: black;
}

@media (max-width: 600px) {
    .thin-button-phone {
        min-width: 40px
    }
}

.move_chip {
    padding: 3px 6px;
    margin: 2px;
}

.type-wrapper {
    display: inline-block;
    border-radius: 100px;
    color: white;
    min-width: 48px;
    max-height: 36px;
}

type-wrapper {
    display: inline-block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

md-virtual-repeat-container {
    height: 360px;
    width: calc(100% - 0px);
}

@media (max-width: 600px) {
    md-virtual-repeat-container {
        height: 240px;
    }
}

.gray-svg-icon svg{
    fill: #666;
}


md-toast.md-success-toast-theme .md-toast-content{
    background-color: #4caf50;
}
md-toast.md-error-toast-theme .md-toast-content{
    background-color: #f44336;
}
md-toast.md-warning-toast-theme .md-toast-content{
    background-color: #40c4ff;
}

md-input-container .md-errors-spacer {
    min-height: 0;
}