.pokeball{
	display:inline-block;
	height:30px;
	width:30px;
	background:url(//poke.so/storage/images/pokeballs.png);
	vertical-align:middle
	}
.pokeball-1{background-position: -4px -4px }
.pokeball-2{background-position: -82px -4px }
.pokeball-3{background-position: -160px -4px }
.pokeball-4{background-position: -238px -4px }
.pokeball-5{background-position: -316px -4px }
.pokeball-6{background-position: -4px -42px }
.pokeball-7{background-position: -82px -42px }
.pokeball-8{background-position: -160px -42px }
.pokeball-9{background-position: -238px -42px }
.pokeball-10{background-position: -316px -42px }
.pokeball-11{background-position: -394px -42px }
.pokeball-12{background-position: -472px -42px }
.pokeball-13{background-position: -550px -42px }
.pokeball-14{background-position: -4px -80px }
.pokeball-15{background-position: -82px -80px }
.pokeball-16{background-position: -160px -80px }
.pokeball-17{background-position: -238px -80px }
.pokeball-18{background-position: -316px -80px }
.pokeball-19{background-position: -394px -80px }
.pokeball-20{background-position: -472px -80px }
.pokeball-21{background-position: -4px -118px }
.pokeball-22{background-position: -82px -118px }
.pokeball-23{background-position: -160px -118px }
.pokeball-24{background-position: -238px -118px }
.pokeball-25{background-position: -316px -118px }
.pokeball-26{background-position: -4px -156px }